<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="PERFECT CUTS"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCP"
        tools:targetApi="31">
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayProduct"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".ReviewAdd"
            android:exported="false" />
        <activity
            android:name=".SearchDisplay"
            android:exported="false" />
        <activity
            android:name=".NewProducts"
            android:exported="false" />
        <activity
            android:name=".CustomProducts"
            android:exported="false" />
        <activity
            android:name=".MenProducts"
            android:exported="false" />
        <activity
            android:name=".WomenProducts"
            android:exported="false" />
        <activity
            android:name=".OrderDetails"
            android:exported="false" />
        <activity
            android:name=".AddStock"
            android:exported="false" />
        <activity
            android:name=".NewProductAdmin"
            android:exported="false" />
        <activity
            android:name=".AdminHomePage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".UserHomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SpalshScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>